<div class="category">
  <el-container>
    <el-main>
      <el-row :gutter="10">
        <el-col :span="24">
          <div class="d-flex justify-content-between align-items-start">
            <div class="text-left">
              <h1>{{ category.name }}</h1>
              <p>{{ category.description }}</p>
            </div>
            <el-button class="" type="success">Start a Topic</el-button>
          </div>
          <topics-list :topics="topics" />
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</div>