<div class="category">
  <el-container>
    <el-main v-if="asyncDataStatus_ready">
      <el-row :gutter="10">
        <el-col :span="24">
          <div class="d-flex justify-content-between align-items-start">
            <div class="text-left">
              <h1>{{ category.name }}</h1>
              <p>{{ category.description }}</p>
            </div>
            <router-link :to="{ name: 'NewTopic', params: { categoryId: this.category['.key'] } }">
              <el-button type="primary">Start a Topic</el-button>
            </router-link>
          </div>
          <topics-list :topics="categoryTopics" />
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</div>