<div class="topic-create">
  <el-containter>
    <el-main>
      <h1 class="text-left">Create a new topic in {{ category.name }}</h1>
      <el-card class="box-form">
        <el-form label-position="top" label-width="100px">
          <el-form-item label="Title">
            <el-input placeholder="Enter the title" v-model="title"></el-input>
          </el-form-item>
          <el-form-item label="Content">
            <vue-editor v-model="content" placeholder="Type your content here" :editorToolbar="editorOptions"></vue-editor>
          </el-form-item>
          <el-form-item>
            <el-button class="mt-2" type="primary" @click="onSubmit">Post Topic</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </el-main>
  </el-containter>
</div>