<div class="topic-view">
  <el-container>
    <el-main>
      <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">Home</el-breadcrumb-item>
      <el-breadcrumb-item>{{ categoryName }}</el-breadcrumb-item>
      <el-breadcrumb-item>{{ topic.title }}</el-breadcrumb-item>
      </el-breadcrumb>
      <br>
      <div class="pr-4 pl-4 text-left">
        <h1 class="title">{{ topic.title }}</h1>
        <posts-list :posts="posts"></posts-list>
        <post-form @submit="saveNewPost"></post-form>
      </div>
    </el-main>
  </el-container>
</div>