<div class="topic-view">
  <el-container v-if="asyncDataStatus_ready">
    <el-main>
      <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">Home</el-breadcrumb-item>
      <el-breadcrumb-item>{{ category.name }}</el-breadcrumb-item>
      <el-breadcrumb-item>{{ topic.title }}</el-breadcrumb-item>
      </el-breadcrumb>
      <br>
      <div class="pr-4 pl-4 text-left">
        <h1 class="title d-inline-block">{{ topic.title }}</h1>
        <router-link class="d-inline-block float-right" :to="{ name: 'EditTopic', params: { topicId: topic['.key'] } }">
          <el-button type="primary"><font-awesome-icon icon="edit" size="1x"></font-awesome-icon> Edit Topic</el-button>
        </router-link>
        <posts-list :posts="topicPosts"></posts-list>
        <template v-if="user">
          <post-form @submit="saveNewPost"></post-form>
        </template>
        <template v-else>
          <div class="text-center mt-3">
            <router-link :to="{ name: 'Signin' }">Singin</router-link> or 
            <router-link :to="{ name: 'Signup' }">Register</router-link> to reply.
          </div>
        </template>
      </div>
    </el-main>
  </el-container>
</div>