<el-container>
  <el-main class="auth-form signin mt-4">
    <app-spinner v-if="loading"></app-spinner>
    <el-card :class="{'loading-bg': loading}">
      <h1 class="text-center">Login</h1>
      <el-form label-position="top" label-width="50px" :rules="rules" :model="form" ref="form"> 
        <el-row :gutter="20">
          <el-col :span="24">
            <el-form-item label="Email" prop="email">
              <el-input placeholder="Enter your email" type="email" v-model="form.email" :disabled="loading"></el-input>
            </el-form-item>
            <el-form-item label="Password" prop="password">
              <el-input placeholder="Enter your password" type="password" v-model="form.password" :disabled="loading"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-button class="mt-4 btn-block btn-app" @click="validateForm" round>Log in</el-button>
        <br>
        <el-button type="text"><router-link tag="span" class="green-color" :to="{name: 'Signup'}">Create an account?</router-link></el-button>
      </el-form>
    </el-card>
  </el-main>
</el-container>