@font-face {
    font-family: 'Nexa Rust';
    src: url('../fonts/NexaRustSlab-BlackShadow01.eot');
    src: url('../fonts/NexaRustSlab-BlackShadow01.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaRustSlab-BlackShadow01.woff2') format('woff2'),
        url('../fonts/NexaRustSlab-BlackShadow01.woff') format('woff'),
        url('../fonts/NexaRustSlab-BlackShadow01.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
